@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "devise_bootstrap_views";



/* universal */

body {
  padding-top: 80px;
}

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* errors */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}