<!--div.navbar.navbar-fixed-top.navbar-inverse>div.container>-->
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to 'Memo app', root_path, id: 'logo' %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
            <%# TODO 헤더 완성하기 - li %>    
            </ul>
        </nav>
    </div>
</div>